<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Madison Island website shop">

    <suite-files>
        <suite-file path="mainMenu.xml"/>
        <suite-file path="promos.xml"/>
        <suite-file path="newsletter.xml"/>
        <suite-file path="footerLinks.xml"/>
        <suite-file path="productPageQuantity.xml"/>
        <suite-file path="shoppingCart.xml"/>
        <suite-file path="login.xml"/>
        <suite-file path="account.xml"/>
    </suite-files>

</suite>